
.nav-wrapper {
    background: rgba(0, 0, 0, 0.1);
    padding: 0.5rem 0;
    position: sticky;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(50px);
    -webkit-backdrop-filter: blur(50px);
}

.nav-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
    gap: 4rem;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    width: 10rem;
    height: auto;
}

.nav-icons {
    display: flex;
    align-items: center;
    gap: 2rem;
    list-style: none;
    margin: 0;
    padding: 0;
    position: relative;
}

.nav-icons li {
    display: flex;
    align-items: center;
    justify-content: center;
   
    position: relative;
    top: 15px;
}


.menu-item {
    text-decoration: none;
    font-size: 3rem;
    font-weight: 500;
    color: #fff;
    position: relative;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.menu-item:hover {
    color: #167c80;
    transform: scale(1.1);
}

.menu-item img.menu-icon {
    width: 2.5rem;
    height: 2.5rem;
    transition: transform 0.3s ease, filter 0.3s ease;
}


.menu-item:hover img.menu-icon {
    transform: scale(1.3);
    filter: brightness(1.2);
}


.contact-btn {
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: linear-gradient(90deg, #167c80, #0f5355 100%);
    padding: 0.6rem 2rem;
    border: none;
    border-radius: 0.2rem;
    outline: 1.5px solid transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}

.contact-btn:hover {
    color: #167c80;
    background: #000;
    outline: 1.5px solid #167c80;
}


.menu-btn {
    position: relative;
    width: 3rem;
    height: 2.0rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0;
    margin: 2rem;
    transition: transform 0.3s ease;
}

.menu-btn span {
    background: rgba(22, 124, 128, 0.5);
    height: 0.5rem;
    width: 100%;
    border-radius: 0.2rem;
    transition: all 0.3s ease;
    margin: 0.2rem 0;
}


.menu-btn.active span:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    background: rgba(22, 124, 128, 0.7);
}

.menu-btn.active span:nth-child(2) {
    opacity: 0;
}

.menu-btn.active span:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    background: rgba(22, 124, 128, 0.7);
}

.menu-btn:hover span {
    background: rgba(22, 124, 128, 1);
}


.nav-icons.active {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 5rem;
    right: 1rem;
    background: #000;
    padding: 1rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    gap: 1.5rem;
    z-index: 40;
}

.nav-icons.active li {
    justify-content: center;
}


@media (min-width: 769px) {
  .menu-btn {
    display: none;
  }

  .nav-icons {
    display: flex;
  }

  .nav-content {
    padding: 0 2rem;
  }
}


@media (max-width: 768px) {
  .menu-btn {
    display: flex;
  }

  .nav-icons {
    display: none;
  }

  .nav-content {
    padding: 0 1rem;
  }
}


@media (max-width: 425px) {
  .logo {
    width: 8rem;
  }

  .nav-icons.active {
    right: 0.5rem;
    left: 0.5rem;
  }
}
